.rooms {
  width: 100%;
  height: 77vh;
  background: #fff;
  border-radius: 7px;
  /* border-top-right-radius: 7px; */
}

.rooms__actives {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
  height: 72vh;
}
