.user-container {
  width: 100%;
  height: 6vh;
  padding: 1rem 0 1rem 0.4rem;
  display: flex;
}

.options {
  margin-left: 1rem;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.menu {
  color: #fff;
}
.menu:hover {
  color: #9de60b;
}

.options button {
  margin-right: 0.1rem;
  border: none;
  outline: none;
  background: transparent;
}

.options button:hover {
  cursor: pointer;
}

.account {
  text-decoration: none;
  color: #000000;
}

.logout {
  color: red;
}
