.home-container {
  display: flex;
  background: #eceff1;
}

.home-details {
  border-right: 1px solid #b2bec3;
  width: 22%;
  height: 95vh;
  background: #212121;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #fff;
}
.buttons {
  border-top: 1px solid #b2bec3;
  border-bottom: 1px solid #b2bec3;
  padding: 0.5rem 0 0.4rem 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: #1e272e;
}

.buttons__btn {
  border: none;
  outline: none;
  background: transparent;
}

.icons {
  color: #fff;
}

.icons:hover {
  color: #7158e2;
}

.btn-search:hover {
  cursor: pointer;
}

.div-btn-search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.home-chats {
  width: 78%;
  height: 95vh;
}
