.search {
  width: 100%;
  height: 100%;
  margin-top: 1.5rem;
}

.search-form {
  width: 100%;
}

.search-input {
  width: 99%;
  height: 3rem;
  border: none;
  outline: none;
  background: linear-gradient(45deg, #48dbfb 0%, #62186c 100%) no-repeat;
  color: #fdfdfd !important;
  font-size: 1.4rem;
}

.search-btn {
  position: fixed;
  height: 2.7rem;
  top: 6rem;
  left: 18.3%;
  padding: 1%;
  z-index: 10000000;
  background: transparent;
  border: none;
  color: #fff;
  outline: none;
}

.search-btn:hover {
  cursor: pointer;
}

.result-btn {
  margin-top: 1rem;
  width: 100%;
  height: 4rem;
  font-size: 1rem;
  background: #212121;
  border: none;
  outline: none;
  color: #fff;
}

.result {
  display: flex;
  align-items: center;
}

.result-btn:hover {
  cursor: pointer;
  background: #eceff1;
  font-weight: 600;
  color: #000000;
}

.search__results {
  width: 100%;
  height: 70vh;
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}
